#dialog {
    background-color: var(--background-color);
    padding: 0;
    color: var(--green-4);
    box-shadow: var(--green-4) 0px 0px 15px;
    overflow: auto;
    resize: both;
    min-height: 10px;
    min-width: 400px;
}

#dialog section {
    padding: 1rem;
    max-height: 55vh;
    overflow-y: auto;
}

#actions {
    border: inherit;
    cursor: move;
}

#actions button {
    border: inherit;
    background-color: inherit;
    color: var(--green-4);
    border-width: thin;

    cursor: pointer;
}