
:root {
  --main-z-index: 1;
  --background-color: black;

  --green-1: #0D0208;
  --green-2: #003b00;
  --green-3: #008F11;
  --green-4: #00FF41;

  --table-border-styles: 3px dashed gray;

}


@font-face {
  font-family: 'lcd_solidregular';
  src: url('/assets/lcdsolid-vpzb-webfont.woff2') format('woff2'),
       url('/assets/lcdsolid-vpzb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html, body, #matrix {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'lcd_solidregular'
}

#matrix {
  object-fit: cover;
  background-color: var(--background-color);
  position: absolute;
}

.main {
  position: absolute;
  background: transparent;
  height: auto;
  width: auto;
  z-index: var(--main-z-index);
}

.main > * {
  font-family: "lcd_solidregular";
}

#command-table {
  border: var(--table-border-styles);
  width: 100%;
  border-collapse: collapse;
  padding: 1rem;
  /* border-style: hidden; */
}

#command-table thead tr {
  border: var(--table-border-styles);
  text-align: center;
}

#command-table thead tr td  {
  text-align: center;
  border: var(--table-border-styles);
}

#command-table tr td {
  text-align: center;
}

#command-table td {
  padding: 0.45rem;
}


* {
  scrollbar-width: auto;
  scrollbar-color: var(--green-3) var(--green-2);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--green-2);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--green-4);
  border-radius: 0px;
  border: 3px solid var(--green-2);
}
